<link href="public/style.css" rel="stylesheet">
<body>
    안녕하세요, <%= username %> 님
    <div>
        <h1>오늘의 할일</h1>
        <ul id="todo-ul">
            <% for (let i = 0; i < todoTasks.length; i++) { %>
            <form action="/remove/<%= todoTasks[i]._id %>" method="POST" style="display: inline">
                <input type="checkbox">
                <li id="todo-li"><%= todoTasks[i].content %></li>
                    <input type="hidden" name="del" value="<%= i %>" />
                    <button type="submit" id="del-btn">🗑️</button>
                <li id="todo-li2"><%= todoTasks[i].date %></li>
                <hr>
            </form>
            <% } %>
        </ul>
        <!-- autocomplete : 자동완성-->        
        <form action="/write" method="post" autocomplete="off" id="todo-form">
            <input 
                    type="text" 
                    name="content"
                    placeholder="할일을 입력하세요"
                    id="todo-input"
                    maxlength="18"
                    required
                    autofocus
                    >
            <button id="todo-btn">+</button>
        </form>        
    </div>    
</body>
